interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: POST
    uri: https://sandboxdnac.cisco.com/dna/system/api/v1/auth/token
  response:
    body:
      string: "{\n \"Token\": \"REDACTED\",\n \"message\": \"\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 400f84bd-40a9-4da4-ab4a-51a147c178d1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/network-device
  response:
    body:
      string: '{"response":[{"memorySize":"NA","family":"Switches and Hubs","lastUpdateTime":1788108506417,"macAddress":"52:54:00:02:19:54","deviceSupportLevel":"Supported","softwareType":"IOS-XE","softwareVersion":"17.12.1prd9","serialNumber":"CML12345UAD","collectionInterval":"Global
        Default","dnsResolvedManagementAddress":"10.10.20.175","lastManagedResyncReasons":"Periodic","managementState":"Managed","pendingSyncRequestsCount":"0","reasonsForDeviceResync":"Periodic","reasonsForPendingSyncRequests":"","inventoryStatusDetail":"<status><general
        code=\"SUCCESS\"/></status>","syncRequestedByApp":"","upTime":"220 days, 1:15:24.00","roleSource":"AUTO","locationName":null,"managementIpAddress":"10.10.20.175","platformId":"C9KV-UADP-8P","reachabilityFailureReason":"","reachabilityStatus":"Reachable","series":"Cisco
        Catalyst 9000 Series Virtual Switches","snmpContact":"","snmpLocation":"","bootDateTime":"2026-01-22
        15:33:26","interfaceCount":"0","apEthernetMacAddress":null,"lastUpdated":"2026-08-30
        16:48:26","apManagerInterfaceIp":"","collectionStatus":"Managed","hostname":"sw1","associatedWlcIp":"","errorCode":null,"errorDescription":null,"lastDeviceResyncStartTime":"2026-08-30
        16:47:55","lineCardCount":"0","lineCardId":"","managedAtleastOnce":true,"tagCount":"0","tunnelUdpPort":null,"uptimeSeconds":19082583,"vendor":"Cisco","waasDeviceMode":null,"description":"Cisco
        IOS Software [Dublin], Catalyst L3 Switch Software (CAT9K_IOSXE), Version
        17.12.1prd9, RELEASE SOFTWARE (fc1) Technical Support: http://www.cisco.com/techsupport
        Copyright (c) 1986-2023 by Cisco Systems, Inc. Compiled Tue 15-Aug-23 16:44
        by mcpre","type":"Cisco Catalyst 9000 UADP 8 Port Virtual Switch","location":null,"role":"ACCESS","instanceUuid":"aa754801-8895-41e8-8ca5-27ee415c9c42","instanceTenantId":"67b935c59155f50013515d1c","id":"aa754801-8895-41e8-8ca5-27ee415c9c42"},{"memorySize":"NA","family":"Switches
        and Hubs","lastUpdateTime":1788108513658,"macAddress":"52:54:00:07:29:d0","deviceSupportLevel":"Supported","softwareType":"IOS-XE","softwareVersion":"17.12.1prd9","serialNumber":"CML12345","collectionInterval":"Global
        Default","dnsResolvedManagementAddress":"10.10.20.176","lastManagedResyncReasons":"Periodic","managementState":"Managed","pendingSyncRequestsCount":"0","reasonsForDeviceResync":"Periodic",[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/network-device/aa754801-8895-41e8-8ca5-27ee415c9c42/config
  response:
    body:
      string: '{"response":"\nBuilding configuration...\n\nCurrent configuration :
        12033 bytes\n!\n! Last configuration change at 15:36:31 UTC Thu Jan 22 2026\n!\nversion
        17.12\nservice timestamp[...]
