interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: POST
    uri: https://sandboxdnac.cisco.com/dna/system/api/v1/auth/token
  response:
    body:
      string: "{\n \"Token\": \"REDACTED\",\n \"message\": \"\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c2292375-fd37-4841-88a5-3933c58f2f03
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/site
  response:
    body:
      string: "{\n  \"response\" : [ {\n    \"additionalInfo\" : [ ],\n    \"name\"
        : \"Global\",\n    \"instanceTenantId\" : \"67b935c59155f50013515d1c\",\n
        \   \"id\" : \"00f6df3f-c067-4d55-8ff3-059d35bbaa0c\",\n    \"siteHierarchy\"
        : \"00f6df3f-c067-4d55-8ff3-059d35bbaa0c\",\n    \"siteNameHierarchy\" : \"Global\"\n
        \ }, {\n    \"parentId\" : \"00f6df3f-c067-4d55-8ff3-059d35bbaa0c\",\n    \"additionalInfo\"
        : [ {\n      \"nameSpace\" : \"Location\",\n      \"attributes\" : {\n        \"addressInheritedFrom\"
        : \"8fa764ec-2070-4eb5-a0cc-fbdf37c48f8c\",\n        \"type\" : \"area\"\n
        \     }\n    } ],\n    \"name\" : \"potheri\",\n    \"instanceTenantId\" :
        \"67b935c59155f50013515d1c\",\n    \"id\" : \"8fa764ec-2070-4eb5-a0cc-fbdf37c48f8c\",\n
        \   \"siteHierarchy\" : \"00f6df3f-c067-4d55-8ff3-059d35bbaa0c/8fa764ec-2070-4eb5-a0cc-fbdf37c48f8c\",\n
        \   \"siteNameHierarchy\" : \"Global/potheri\"\n  }, {\n    \"parentId\" :
        \"fe0a9e81-771a-4575-885c-42dfb6a8e206\",\n    \"additionalInfo\" : [ {\n
        \     \"nameSpace\" : \"Location\",\n      \"attributes\" : {\n        \"country\"
        : \"Hungary\",\n        \"address\" : \"Budapest, Balk\xE1n Utca, 1107, Hungary\",\n
        \       \"latitude\" : \"47.472348185034576\",\n        \"addressInheritedFrom\"
        : \"ac7b980f-4352-4e27-b9b5-8ef86ad7210e\",\n        \"type\" : \"building\",\n
        \       \"longitude\" : \"19.10921594987471\"\n      }\n    } ],\n    \"name\"
        : \"HU_B01\",\n    \"instanceTenantId\" : \"67b935c59155f50013515d1c\",\n
        \   \"id\" : \"ac7b980f-4352-4e27-b9b5-8ef86ad7210e\",\n    \"siteHierarchy\"
        : \"00f6df3f-c067-4d55-8ff3-059d35bbaa0c/6413f3d5-e4ab-4430-9423-ecc8a2bfcb84/fe0a9e81-771a-4575-885c-42dfb6a8e206/ac7b980f-4352-4e27-b9b5-8ef86ad7210e\",\n
        \   \"siteNameHierarchy\" : \"Global/EU/Hungary/HU_B01\"\n  }, {\n    \"parentId\"
        : \"6413f3d5[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/network-device
  response:
    body:
      string: '{"response":[{"memorySize":"NA","family":"Switches and Hubs","lastUpdateTime":1788108506417,"macAddress":"52:54:00:02:19:54","deviceSupportLevel":"Supported","softwareType":"IOS-XE","softwareVersion":"17.12.1prd9","serialNumber":"CML12345UAD","collectionInterval":"Global
        Default","dnsResolvedManagementAddress":"10.10.20.175","lastManagedResyncReasons":"Periodic","managementState":"Managed","pendingSyncRequestsCount":"0","reasonsForDeviceResync":"Periodic","reasonsForPendingSyncRequests":"","inventoryStatusDetail":"<status><general
        code=\"SUCCESS\"/></status>","syncRequestedByApp":"","upTime":"220 days, 1:15:24.00","roleSource":"AUTO","locationName":null,"managementIpAddress":"10.10.20.175","platformId":"C9KV-UADP-8P","reachabilityFailureReason":"","reachabilityStatus":"Reachable","series":"Cisco
        Catalyst 9000 Series Virtual Switches","snmpContact":"","snmpLocation":"","bootDateTime":"2026-01-22
        15:33:26","interfaceCount":"0","apEthernetMacAddress":null,"lastUpdated":"2026-08-30
        16:48:26","apManagerInterfaceIp":"","collectionStatus":"Managed","hostname":"sw1","associatedWlcIp":"","errorCode":null,"errorDescription":null,"lastDeviceResyncStartTime":"2026-08-30
        16:47:55","lineCardCount":"0","lineCardId":"","managedAtleastOnce":true,"tagCount":"0","tunnelUdpPort":null,"uptimeSeconds":19076999,"vendor":"Cisco","waasDeviceMode":null,"description":"Cisco
        IOS Software [Dublin], Catalyst L3 Switch Software (CAT9K_IOSXE), Version
        17.12.1prd9, RELEASE SOFTWARE (fc1) Technical Support: http://www.cisco.com/techsupport
        Copyright (c) 1986-2023 by Cisco Systems, Inc. Compiled Tue 15-Aug-23 16:44
        by mcpre","type":"Cisco Catalyst 9000 UADP 8 Port Virtual Switch","location":null,"role":"ACCESS","instanceUuid":"aa754801-8895-41e8-8ca5-27ee415c9c42","instanceTenantId":"67b935c59155f50013515d1c","id":"aa754801-8895-41e8-8ca5-27ee415c9c42"},{"memorySize":"NA","family":"Switches
        and Hubs","lastUpdateTime":1788108513658,"macAddress":"52:54:00:07:29:d0","deviceSupportLevel":"Supported","softwareType":"IOS-XE","softwareVersion":"17.12.1prd9","serialNumber":"CML12345","collectionInterval":"Global
        Default","dnsResolvedManagementAddress":"10.10.20.176","lastManagedResyncReasons":"Periodic","mana[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/image/importation
  response:
    body:
      string: '{"response":[],"version":"1.0"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Correlation-Id:
      - 551bf6b2-5df9-4957-9633-03676e86d504
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/network-health?timestamp=1788173100000
  response:
    body:
      string: '{"version":"1.0","response":[{"time":"2026-08-31T10:35:00.000+0000","healthScore":100,"totalCount":4,"goodCount":4,"noHealthCount":0,"fairCount":0,"badCount":0,"maintenanceModeCount":0,"entity":null,"timeinMillis":1788172500000}],"measuredBy":"global","latestMeasuredByEntity":null,"latestHealthScore":100,"monitoredDevices":4,"monitoredHealthyDevices":4,"monitoredUnHealthyDevices":0,"noHealthDevices":0,"notApplicableDevices":0,"totalDevices":4,"monitoredPoorHealthDevices":0,"monitoredFairHealthDevices":0,"healthContributingDevices":4,"healthDistirubution":[{"category":"Access","totalCount":4,"healthScore":100,"goodPercentage":100.0,"badPercentage":0.0,"fairPercentage":0.0,"noHealthPercentage":0.0,"goodCount":4.0,"badCount":0.0,"fairCount":0.0,"noHealthCount":0.0,"thirdPartyDeviceCount":0.0}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Correlation-Id:
      - a99a2583-6436-46d6-aa7b-629729567be3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/client-health?timestamp=1788173100000
  response:
    body:
      string: '{"errorMessage":"Timestamp value cannot be in the future."}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Correlation-Id:
      - caa2ee7b-3852-43f5-a27b-2dd90e0e0d27
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/issues
  response:
    body:
      string: '{"response":[],"totalCount":"0","version":"1.0"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Correlation-Id:
      - 2d373b63-a750-484f-9d17-46cf8be53fc9
    status:
      code: 200
      message: OK
version: 1
