interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: POST
    uri: https://sandboxdnac.cisco.com/dna/system/api/v1/auth/token
  response:
    body:
      string: "{\n \"Token\": \"REDACTED\",\n \"message\": \"\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 916c68c0-8603-4824-b5b3-acac3ce200ea
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      x-auth-token:
      - REDACTED
    method: GET
    uri: https://sandboxdnac.cisco.com/dna/intent/api/v1/device-health?deviceRole=AP
  response:
    body:
      string: '{"version":"1.0","totalCount":0,"response":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Correlation-Id:
      - 356bb3b7-754b-48fa-af50-dbc46a0d4901
    status:
      code: 200
      message: OK
version: 1
