interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/endpointgroup
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 19,\n    \"resources\" :
        [ {\n      \"id\" : \"ffa36b00-8bff-11e6-996c-525400b48521\",\n      \"name\"
        : \"Android\",\n      \"description\" : \"Identity Group for Profile: Android\",\n
        \     \"link\" : {\n        \"rel\" : \"self\",\n        \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/endpointgroup/ffa36b00-8bff-11e6-996c-525400b48521\",\n
        \       \"type\" : \"application/json\"\n      }\n    }, {\n      \"id\" :
        \"0a4a50f0-8c00-11e6-996c-525400b48521\",\n      \"name\" : \"Apple-iDevice\",\n
        \     \"description\" : \"Identity Group for Profile: Apple-iDevice\",\n      \"link\"
        : {\n        \"rel\" : \"self\",\n        \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/endpointgroup/0a4a50f0-8c00-11e6-996c-525400b48521\",\n
        \       \"type\" : \"application/json\"\n      }\n    }, {\n      \"id\" :
        \"0[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/endpoint
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 501,\n    \"resources\"
        : [ {\n      \"id\" : \"2b2d8180-6e47-11ee-8978-005056bfe5f4\",\n      \"name\"
        : \"00:01:02:03:04:05\",\n      \"link\" : {\n        \"rel\" : \"self\",\n
        [...]
