interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/portal
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 5,\n    \"resources\" :
        [ {\n      \"id\" : \"ac6b8399-ef91-4ef3-97d2-46adaab82d42\",\n      \"name\"
        : \"Sponsor Portal (default)\",\n      \"description\" : \"Default portal
        used by sponsors to create and manage accounts for authorized visitors to
        securely access the network\",\n      \"link\" : {\n        \"rel\" : \"self\",\n
        \       \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/portal/ac6b8399-ef91-4ef3-97d2-46adaab82d42\",\n
        \       \"type\" : \"application/json\"\n      }\n    }, {\n      \"id\" :
        \"a486c6ef-6c77-4bc1-bf6d-4e479b3aeae8\",\n      \"name\" : \"ISE Portal (default)\",\n
        \     \"description\" : \"Ise Portal for saml based feature purpose\",\n      \"link\"
        : {\n        \"rel\" : \"self\",\n        \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/portal/a486c6ef-6c77-4bc1-bf6d-4e479b3aeae8\",\n
        \       \"type\" : \"application/json\"\n      }\n    }, {\n      \"id\" :
        \"f[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/guesttype
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 4,\n    \"resources\" :
        [ {\n      \"id\" : \"9f03a151-8c01-11e6-996c-525400b48521\",\n      \"name\"
        : \"Contractor (default)\",\n      \"description\" : \"Default settings allow
       [...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/sponsorportal
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 1,\n    \"resources\" :
        [ {\n      \"id\" : \"ac6b8399-ef91-4ef3-97d2-46adaab82d42\",\n      \"name\"
        : \"Sponsor Portal (default)\",\n      \"description\" : \"Default portal
        used by sponsors to create and manage accounts for authorized visitors to
        securely access the network\",\n      \"link\" : {\n        \"rel\" : \"self\",\n
        \       \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/sponsorportal/ac6b8399-ef91-4ef3-97d2-46adaab82d42\",\n
        \       \"type\" : \"application/json\"\n      }\n    } ]\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src
        'self' 'unsafe-inline'; img-src 'self' data:;
      X-WebKit-CSP:
      - default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src
        'self' 'unsafe-inline'; img-src 'self' data:;
    status:
      code: 200
      message: ''
version: 1
