interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/networkdevice
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 2,\n    \"resources\" :
        [ {\n      \"id\" : \"199770a0-6dfe-11ee-965b-6aa0f144a1be\",\n      \"name\"
        : \"CSR1000v\",\n      \"description\" : \"\",\n      \"link\" : {\n        \"rel\"
        : \"self\",\n        \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/networkdevice/199770a0-6dfe-11ee-965b-6aa0f144a1be\",\n
        \       \"type\" : \"application/json\"\n      }\n    }, {\n      \"id\" :
        \"dfe3b620-6dfd-11ee-965b-6aa0f144a1be\",\n      \"name\" : \"Cat8000\",\n
        \     \"description\" : \"Catalyst 8000\",\n      \"link\" : {\n        \"rel\"
        : \"self\",\n        \"href\" : \"https://devnetsandboxise.cisco.com/ers/config/networkdevice/dfe3b620-6dfd-11ee-965b-6aa0f144a1be\",\n
        \       \"type\" : \"application/json\"\n      }\n    } ]\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src
        'self' 'unsafe-inline'; img-src 'self' data:;
      X-WebKit-CSP:
      - default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src
        'self' 'unsafe-inline'; img-src 'self' data:;
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/authorizationprofile
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 9,\n    \"resources\" :
        [ {\n      \"id\" : \"984b81c0-8c01-11e6-996c-525400b48521\",\n      \"name\"
        : \"Block_Wireless_Access\",\n      \"description\" : \"Default profile us[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/downloadableacl
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 4,\n    \"resources\" :
        [ {\n      \"id\" : \"9825aa40-8c01-11e6-996c-525400b48521\",\n      \"name\"
        : \"DENY_ALL_IPV4_TRAFFIC\",\n      \"description\" : \"Deny all ipv4 traffic\"[...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/sgt
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 16,\n    \"resources\" :
        [ {\n      \"id\" : \"934557f0-8c01-11e6-996c-525400b48521\",\n      \"name\"
        : \"Auditors\",\n      \"description\" : \"Auditor Security Group\",\n      \"link\"
     [...]
- request:
    body: null
    headers:
      Content-type:
      - application/json;charset=utf-8
      authorization:
      - REDACTED
    method: GET
    uri: https://devnetsandboxise.cisco.com/ers/config/identitygroup
  response:
    body:
      string: "{\n  \"SearchResult\" : {\n    \"total\" : 8,\n    \"resources\" :
        [ {\n      \"id\" : \"a176c430-8c01-11e6-996c-525400b48521\",\n      \"name\"
        : \"ALL_ACCOUNTS (default)\",\n      \"description\" : \"Default ALL_ACCOUNTS
   [...]
